In [111]:
import pandas as pd
import numpy as np
import matplotlib as plt

Data Loading & Initial Exploration

In [112]:
df = pd.read_csv("insurance_claims.csv")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [113]:
df.shape

(1000, 40)

In [114]:
df.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,_c39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,203.954000,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000,NaN
std,115.113174,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861,NaN
min,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000,NaN
25%,115.750000,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000,NaN
50%,199.500000,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000,NaN
75%,276.250000,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000,NaN
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000,NaN

In [115]:
df.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted            91
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

Suspicious Values: The negative umbrella limits and wide range of capital gains/losses might need cleaning or investigation.
Potential Feature Engineering: create time-based features, such as the difference between the policy_bind_date and incident_date, to capture if fraud is more likely to occur soon after a policy is created.

In [116]:
df.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
_c39                           float64
dtype: object

Data Cleaning & Pre-processing

In [117]:
#dropping unnecessary column
df.drop(['_c39', 'policy_number', 'insured_zip'], axis=1, inplace=True)
df.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,2014-10-17,OH,250/500,1000,1406.91,0,MALE,MD,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,2006-06-27,IN,250/500,2000,1197.22,5000000,MALE,MD,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,2000-09-06,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,1990-05-25,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,2014-06-06,IL,500/1000,1000,1583.91,6000000,MALE,Associate,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [118]:
#Convert Date Columns to datetime
df['policy_bind_date'] = pd.to_datetime(df['policy_bind_date'])
df['incident_date'] = pd.to_datetime(df['incident_date'])

In [119]:
# Correcting negative or odd values 
df['umbrella_limit'] = df['umbrella_limit'].apply(lambda x: np.nan if x < 0 else x)
df['capital-gains'] = df['capital-gains'].apply(lambda x: np.nan if x < 0 else x)
df['capital-loss'] = df['capital-loss'].apply(lambda x: np.nan if x < 0 else x)

In [120]:
#checking for missing values
missing_data = df.isnull().sum()
print(missing_data[missing_data > 0])

umbrella_limit             1
capital-loss             525
authorities_contacted     91
dtype: int64

feature engeneering

time base features:
The number of days between the policy_bind_date and the incident_date can indicate how long a customer had the policy before the incident.

In [121]:
df['policy_age'] = (df['incident_date'] - df['policy_bind_date']).dt.days
df.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_age
0,328,48,2014-10-17,OH,250/500,1000,1406.91,0.0,MALE,MD,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,100
1,228,42,2006-06-27,IN,250/500,2000,1197.22,5000000.0,MALE,MD,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,3130
2,134,29,2000-09-06,OH,100/300,2000,1413.14,5000000.0,FEMALE,PhD,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,5282
3,256,41,1990-05-25,IL,250/500,2000,1415.74,6000000.0,FEMALE,PhD,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,8996
4,228,44,2014-06-06,IL,500/1000,1000,1583.91,6000000.0,MALE,Associate,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,256

In [122]:
df['policy_age'].unique

<bound method Series.unique of 0       100
1      3130
2      5282
3      8996
4       256
       ...
995    8622
996     384
997    4358
998    1196
999    6681
Name: policy_age, Length: 1000, dtype: int64>

Claim Ratio:
calculate ratios between various claims like injury_claim, property_claim, and vehicle_claim to see if the relationship between these claims is suspicious.

In [123]:
df['injury_claim_ratio'] = df['injury_claim'] / df['total_claim_amount']
df['property_claim_ratio'] = df['property_claim'] / df['total_claim_amount']
df['vehicle_claim_ratio'] = df['vehicle_claim'] / df['total_claim_amount']

Total Time of Incident:

Use incident_hour_of_the_day to create new time segments, such as "Morning," "Afternoon," "Evening," and "Night". Certain time segments may correlate with fraudulent behavior.

In [124]:
def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['incident_time_of_day'] = df['incident_hour_of_the_day'].apply(time_of_day)

calculates how long ago the incident happened relative to the last data point we have. This could help capture potential outliers in terms of delayed reporting.

In [125]:
df['days_since_incident'] = (pd.to_datetime('today') - df['incident_date']).dt.days

Data Normalization

In [126]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['policy_annual_premium', 'total_claim_amount', 'injury_claim']] = scaler.fit_transform(df[['policy_annual_premium', 'total_claim_amount', 'injury_claim']])

In [127]:
df['fraud_reported'].value_counts()

fraud_reported
N    753
Y    247
Name: count, dtype: int64

In [128]:
# One-hot encoding
df = pd.get_dummies(df, columns=['policy_state', 'insured_sex', 'insured_education_level', 'auto_make'], drop_first=True)
df.head()

,months_as_customer,age,policy_bind_date,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_occupation,insured_hobbies,insured_relationship,...,auto_make_Dodge,auto_make_Ford,auto_make_Honda,auto_make_Jeep,auto_make_Mercedes,auto_make_Nissan,auto_make_Saab,auto_make_Suburu,auto_make_Toyota,auto_make_Volkswagen
0,328,48,2014-10-17,250/500,1000,0.616705,0.0,craft-repair,sleeping,husband,...,False,False,False,False,False,False,True,False,False,False
1,228,42,2006-06-27,250/500,2000,-0.242521,5000000.0,machine-op-inspct,reading,other-relative,...,False,False,False,False,True,False,False,False,False,False
2,134,29,2000-09-06,100/300,2000,0.642233,5000000.0,sales,board-games,own-child,...,True,False,False,False,False,False,False,False,False,False
3,256,41,1990-05-25,250/500,2000,0.652886,6000000.0,armed-forces,board-games,unmarried,...,False,False,False,False,False,False,False,False,False,False
4,228,44,2014-06-06,500/1000,1000,1.341980,6000000.0,sales,board-games,unmarried,...,False,False,False,False,False,False,False,False,False,False

In [129]:
df.columns

Index(['months_as_customer', 'age', 'policy_bind_date', 'policy_csl',
       'policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_occupation', 'insured_hobbies', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_date', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'incident_state', 'incident_city', 'incident_location',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'total_claim_amount', 'injury_claim',
       'property_claim', 'vehicle_claim', 'auto_model', 'auto_year',
       'fraud_reported', 'policy_age', 'injury_claim_ratio',
       'property_claim_ratio', 'vehicle_claim_ratio', 'incident_time_of_day',
       'days_since_incident', 'policy_state_IN', 'policy_state_OH',
       'insured_sex_MALE', 'insured_education_level_College',
       'insured_education_level_High School', 'insured_education_level_JD',
       'insured_education_level_MD', 'insured_education_level_Masters',
       'insured_education_level_PhD', 'auto_make_Audi', 'auto_make_BMW',
       'auto_make_Chevrolet', 'auto_make_Dodge', 'auto_make_Ford',
       'auto_make_Honda', 'auto_make_Jeep', 'auto_make_Mercedes',
       'auto_make_Nissan', 'auto_make_Saab', 'auto_make_Suburu',
       'auto_make_Toyota', 'auto_make_Volkswagen'],
      dtype='object')